<%= render partial: "layouts/navbar" %>

<div class="text-center">
  <h1>Appointments Page</h1>
</div>

<%= render partial: "layouts/alerts" %>

<%= render partial: "table", locals: {appointments: @appointments, booking: false} %>
