<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% halls.each do |hall| %>
      <tr>
        <td><%= hall.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
